<article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About Me</h2>
        </header>


        <!--- service --->

        <section class="service">
          <div style="display: flex; align-items: center; gap: 25px; flex-wrap: wrap; margin-bottom: 20px; margin-left:30px; margin-right: 30px;">
            <div style="flex: 2 1 300px;">
              <p class="service-item-text">
                I am currently a 3<sup>rd</sup> year Computer Engineering BCS student at
                Automatic Control and Computers faculty from University Politehnica of 
                Bucharest. Keen on AI/ML, embedded systems and related fields. Am a junior 
                teaching for the topics from below. Am proudly as well intern at Keysight 
                technologies Romania. If you think our vibes match, hit me up!
              </p>
            </div>
            <figure style="flex: 1 1 200px; max-width: 200px; margin: auto;">
              <img src="./assets/images/pictures_with_me/eu_vacaresti.jpg" alt="Andrei Nicola" style="width: 100%; border-radius: 20px; box-shadow: var(--shadow-2); border: 2px solid var(--jet);">
            </figure>
          </div>
        </section>


        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="what-im-doing-modal" style="background-color: blue">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>

        <header>
          <h2 class="h2 article-title">Teaching Assistant</h2>
        </header>

        <section class="teaching-text">
          <p class="service-item-text">
            am a teaching assistant for the following topics, where I aid younger students with their labs.
          </p><br><br>
        </section>


        <!-- taught subject inserted via JS -->
      </article>