<article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About Me</h2>
        </header>


        <!--- service --->

        <section class="service">
          <div style="display: flex; align-items: center; gap: 25px; flex-wrap: wrap; margin-bottom: 20px; margin-left:30px; margin-right: 30px;">
            <div style="flex: 2 1 300px;">
              <p class="service-item-text">
                I am a 3<sup>rd</sup> year Computer Engineering BCS student at ACS @ UPB in Bucharest. 
                Keen on AI/ML, embedded systems and related fields. Additionally to most of geeks and nerds,
                I strongly believe that I have a personal life, hobbies, do sports and can entertain a 
                conversation above the LinkedIn bullshit that goes around this field. If you think our vibes 
                match, hit me up!
              </p>
            </div>
            <figure style="flex: 1 1 200px; max-width: 200px; margin: auto;">
              <img src="./assets/images/pictures_with_me/eu_vacaresti.jpg" alt="Andrei Nicola" style="width: 100%; border-radius: 20px; box-shadow: var(--shadow-2); border: 2px solid var(--jet);">
            </figure>
          </div>
        </section>


        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="what-im-doing-modal" style="background-color: blue">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

            <div class="modal-img-wrapper">
              <figure class="modal-avatar-box">
                <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="80" data-modal-img>
              </figure>

              <img src="./assets/images/icon-quote.svg" alt="quote icon">
            </div>

            <div class="modal-content">

              <h4 class="h3 modal-title" data-modal-title>Daniel lewis</h4>

              <time datetime="2021-06-14">14 June, 2021</time>

              <div data-modal-text>
                <p>
                  Richard was hired to create a corporate identity. We were very pleased with the work done. She has a
                  lot of experience
                  and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt
                  consectetur adipiscing
                  elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.
                </p>
              </div>

            </div>

          </section>

        </div>

        <header>
          <h2 class="h2 article-title">Teaching Assistant</h2>
        </header>

        <section class="teaching-text">
          <p class="service-item-text">
            am a teaching assistant for the following topics, where I aid younger students with their labs.
          </p><br><br>

        </section>

        <section class="service">
                
          <h3 class="h3 service-title">USO - Utilisation of Operating Systems</h3>
          <p class="service-item-text">
            USO is an introductory course to bash, Linux Kernel(or Ubuntu, for newbies) and eventually a starter
            for bash scripting and low-level management of processes. Students use commands as <it>ls, chmod, kill, grep, whoami, mkdir, 
            cp, mv, ifconfig, md5sum</it>. This is only a curated list, but we can go on and on.
            <br><br>
            Apart from only teaching labs alongside a more experienced fellow as his junior, I had also had the responsability of
            writing the 2<sup>nd</sup> piece of homework, maintain the forum, the spelling and correctness of the sentence and 
            last, but not least, setup the checker's server. The homework can be found here:<a href="https://ocw.cs.pub.ro/courses/uso/teme/tema-2">USO Tema 2</a>
            </p>
        </section>

        <section class="service">
                
          <h3 class="h3 service-title">FP - Functional Programming</h3>
          <p class="service-item-text">
            This is my <b>english-taught</b> laboratory at FILS faculty from UPB where I had the responsability of 
            explaining and exercising alongside with students functional programming, the differences between 
            Functional decomposition and OOP decomposition. Meanwhile, implementing all snippets in Scala programming language, 
            which is a strongly-typed language.
            <br><br>
            The core topics approached are recursive functions as factorial, GCD, summing, operations over a range etc., higher-order 
            functions and algebraic datatypes. We do labor the point over traits(~ classes and interfaces in Java) implementation for 
            context reusability and tail recursive functions for stack overflow avoidance. 
          </p>
        </section>

        <section class="service">
          <h3 class="h3 service-title">ED - Digital Electronics</h3>
          <p class="service-item-text">
            For this lab, students come with the foundamentals of analog electronics. We built upon it, the cores of digital:
            0 and 1 based upon a voltage ladder and HIGH/LOW noise margin. We generate on arduino boards specific square signals 
            in order to read both the input and the processed signals(due to a custom circuit) on oscilloscopes. 
            <br><br>
            Last, but not least they understand the cores of using a transistor - firstly a BJT and then evolving to MOSFETs. 
            Eventually they are capable to built any regular logical gate - NOT, AND, OR - using external signals and a 
            custom circuit and interpret results on a oscilloscope.

          </p>
        </section>
      </article>