<article class="more me" data-page="more me">
        <header>
          <h2 class="h2 article-title">More me</h2>
        </header>
        <div class="carousel-container">
          <button class="carousel-arrow left-arrow" aria-label="Previous image">&#10094;</button>
          <div class="carousel-track">
            <div class="carousel-slide">
              <img src="assets/images/zephyr_OS/hacktor1.jpeg" alt="Poza 1" />
            </div>
            <div class="carousel-slide">
              <video controls>
                <source src="assets/images/zephyr_OS/hacktor2.mp4" type="video/mp4" alt="Poza 2">
            </div>
            <div class="carousel-slide">
              <img src="assets/images/zephyr_OS/hacktor3.png" alt="Poza 3" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/zephyr_OS/hacktor4.jpeg" alt="Poza 4" />
            </div>
          </div>
          <button class="carousel-arrow right-arrow" aria-label="Next image">&#10095;</button>
        </div>
        <br><br>

        <div class="carousel-container">
          <button class="carousel-arrow left-arrow" aria-label="Previous image">&#10094;</button>
          <div class="carousel-track">
            <div class="carousel-slide">
              <img src="assets/images/eelisa_budapesta/poza1.jpeg" alt="Poza 1" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/eelisa_budapesta/poza2.jpeg" alt="Poza 2" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/eelisa_budapesta/poza3.jpeg" alt="Poza 3" />
            </div>
          </div>
          <button class="carousel-arrow right-arrow" aria-label="Next image">&#10095;</button>
        </div>
        <br><br>

        <div class="carousel-container">
          <button class="carousel-arrow left-arrow" aria-label="Previous image">&#10094;</button>
          <div class="carousel-track">
            <div class="carousel-slide">
              <img src="assets/images/musical_organ/poza1.jpeg" alt="Poza 1" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/musical_organ/poza2.jpeg" alt="Poza 2" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/musical_organ/poza3.jpeg" alt="Poza 3" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/musical_organ/poza4.jpeg" alt="Poza 4" />
            </div>
            <div class="carousel-slide">
              <img src="assets/images/musical_organ/poza5.jpeg" alt="Poza 5" />
            </div>
          </div>
          <button class="carousel-arrow right-arrow" aria-label="Next image">&#10095;</button>
        </div>
      </article>