<article class="portfolio" data-page="portfolio">

        <header>
          <h2 class="h2 article-title">Portfolio</h2>
        </header>

        <section class="projects">
          <!--------------------------------------- MENIU DE FLITRARE ---------------------------------------------->
          <ul class="filter-list">
            <!-- item 1 -->
            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>
            <!-- item 2 -->
            <li class="filter-item">
              <button data-filter-btn>Apps</button>
            </li>
            <!-- item 3 -->
            <li class="filter-item">
              <button data-filter-btn>Projects</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Apps</button>
              </li>

              <li class="select-item">
                <button data-select-item>Projects</button>
              </li>

            </ul>

          </div>

          <ul class="project-list">
            <!------------------------------------- ARTICLES ------------------------------------------->
            <!-- article 1 -->
            <li class="project-item  active" data-filter-item data-category="apps">
              <a href="#">
                <!-- Picture -->
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-3.jpg" alt="fundo" loading="lazy">
                </figure>
                <!-- Title -->
                <h3 class="project-title">Fundo</h3>
                <!-- Category -->
                <p class="project-category">Articles</p>
              </a>
            </li>

            <!-- article 2 -->
            <li class="project-item  active" data-filter-item data-category="apps">
              <a href="#">
                <!-- Picture -->
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-4.png" alt="brawlhalla" loading="lazy">
                </figure>
                <!-- Title -->
                <h3 class="project-title">Brawlhalla</h3>
                <!-- Category -->
                <p class="project-category">Articles</p>
              </a>
            </li>

            <!-- article 3 -->
            <li class="project-item  active" data-filter-item data-category="apps">
              <a href="#">

                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>

                  <img src="./assets/images/project-7.png" alt="summary" loading="lazy">
                </figure>

                <h3 class="project-title">Summary</h3>

                <p class="project-category">Articles</p>

              </a>
            </li>

            <!------------------------------------------- PROJECTS ------------------------------------------------>
            <!-- Project 1 -->
            <li class="project-item  active" data-filter-item data-category="projects">
              <a href="#">
                <!-- Picture -->
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-5.png" alt="dsm." loading="lazy">
                </figure>
                <!-- Title -->
                <h3 class="project-title">QL over Atari Game</h3>
                <!-- Category -->
                <p class="project-category">Projects</p>
              </a>
            </li>

            <!-- Project 2 -->
            <li class="project-item  active" data-filter-item data-category="projects">
              <a href="#">
                <!-- Picture -->
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-6.png" alt="metaspark" loading="lazy">
                </figure>
                <!-- Title -->
                <h3 class="project-title">Improvement over RRT*</h3>
                <!-- Category -->
                <p class="project-category">Projects</p>
              </a>
            </li>

            <!-- Project 3 -->
            <li class="project-item  active" data-filter-item data-category="projects">
              <a href="#">
                <!-- Picture -->
                <figure class="project-img">
                  <div class="project-item-icon-box">
                    <ion-icon name="eye-outline"></ion-icon>
                  </div>
                  <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy">
                </figure>
                <!-- Title -->
                <h3 class="project-title">Pseudo-randomness validator over NIST tests</h3>
                <!-- Category -->
                <p class="project-category">Projects</p>
              </a>
            </li>

          </ul>

        </section>

      </article>