<article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <!------------------------ sectiunea 1: LISTA TEMPORALA 'EDUCATION' --------------------------------->
        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <img src="assets/images/resume/education.png">
            </div>
            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Faculty of Automatic Control and Computers — UNSTPB</h4>

              <span>2023 — 2027</span>

              <p class="timeline-text">
                Studying Computer Engineering at the UNSTPB, faculty of Automation Control and Computers, learning the ropes of engineering,
                mathematics, physics, computer architectures and diving deeper into DSA, programming paradigms, AI and also some flavour of electronics.
              </p>

            </li>

          </ol>

        </section>

        <!------------------------ sectiunea 2: LISTA TEMPORALA 'EXPERIENCE' --------------------------->
        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <!-- <ion-icon name="book-outline"></ion-icon> -->
              <img src="assets/images/resume/experience.png">
            </div>
            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">ICI software developer intern</h4>
              <span>2023 winter</span>
              <p class="timeline-text">
                I have been an intern in the ICI team for 2 months, where I learnt about
                ML algorithms and their use for computer vision, face recognition within
                robotic systems like robot assistants or drones. I had the opportunity to
                assist much more experienced fellow students of professionals.
              </p>
            </li>

            <li class ="timeline-item">
              <h4 class="h4 timeline-item-title">Logiscool Trainer</h4>
              <span>Oct 2025 - June 2026</span>
              <p class="timeline-text">
                Have been a part-time teacher for a whole year at Logiscool. Had the opportunity to teach Python, Scratch or Mixed coding classes to kids
                between 7 and 14 years old. Got me really experienced into teaching and delviering information.
              </p>
            </li>

            <li class ="timeline-item">
              <h4 class="h4 timeline-item-title">Undergrad Teaching Assistant</h4>
              <span>Oct 2025 - Present</span>
              <p class="timeline-text">
                For the last university year I have been a teaching assistant as it follows: during the first semester I taught USO labs, while 
                for the second semester I taught FP and ED labs.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Keysight Technologies software developer intern</h4>

              <span>2026 summer</span>

              <p class="timeline-text">
                I am currently an intern at Keysight Technologies, working on a 
                project concerning Proxy Support for Malware
              </p>
          </ol>

        </section>

        <!------------------------ sectiunea 3: LISTA ATEMPORALA 'SKILLS' --------------------------->
        <section class="programming_languages & communication">
          <table width="100%">
            <tr style="vertical-align: top;" width="100%">
              <td width="40%" style="padding-left: 15px;">
                <div class="title-wrapper">
                  <div class="icon-box">
                    <img src="assets/images/resume/programming.png">
                  </div>
                  <h3 class="h3">Programming</h3>
                </div>

                <ul class="skills-list content-card">
                </ul>
              </td>
              <td width="10%"></td>

              <td width="40%" style="padding-right: 15px;">
                <div class="title-wrapper">
                  <div class="icon-box">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                  </div>
                  <h3 class="h3">Communication</h3>
                </div>

                <!-- COMMUNICATION -->
                <ul class="skills-list content-card">
                </ul>
              </td>
            </tr>
          </table>


        </section>
        <br>

        <section class="Extracurriculars">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Extracurricular</h3>
          </div>
          
          <ol class="timeline-list">

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">SSS - Summer Security School</h4>
              <span>2024 & 2025 summers</span>
              <p class="timeline-text">
                tracks of <b>Web</b> and <b>Binary</b>. Started executables, misc and reverse engineering
                and Linux fundamental with applications in security. Switched on web learning about cookies,
                SQL-injection during web track. Binary got me thrilled to bits when dived deeper into ASLR, 
                PIE/PIC and stack canaries.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">AIMAS Summer School</h4>
              <span>2024 summer</span>
              <p class="timeline-text">
                Built MLP, RNN and CNN basic DL architectures. Went further into CV applications in medical images as polyp detection and segmentation. On RL 
                side, implemented RRT and RRT* algorithms. Eventually dived into NLP and open-source transformers from HuggingFace as BERT and how to fine-tune them for specific tasks.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Google @ Embedded Android SS</h4>
              <span>2025 summer</span>
              <p class="timeline-text">
                one-week course where explored the huge AOSP project and customly built for 
                a Raspberry Pi 4 and Touch Display 2 tablet configuration. On top of HAL built 
                a user-friendly app for controlling GPIO ports.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Electronics Summer School</h4>
              <span>2025 summer</span>
              <p class="timeline-text">
                Designed the PCB for a musical organ using KiCAD, having low/band/high filters for each color 
                of an RGB led matrix. Each color would turn on accordingly to its specific frequency range. Eventually, 
                designed a custom case for the PCB using FreeCAD and 3D printed it.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">MATH4ENG</h4>
              <span>2025 summer</span>
              <p class="timeline-text">
                A 2-week & 4 ECTS worth EELISA summer school focused on statistics, probability and data analysis. Built
                for final project a software platform for testing classical randomness checker UI platform. Worked collaboratively
                in git, with python.
              </p>
            </li>
          </ol>
        </section>

        <section class="student-research">
          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>
            <h3 class="h3">Student Research</h3>
          </div>
          <ol class="timeline-list">
            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">Students 2Space</h4>
              <span>2023 june - 2024 june</span>
              <p class="timeline-text">
                Been member of Students 2Space team's electronic department working on embedded systems for
                the rocket NOR and also involved in several educational projects as SpaceFest or Qube2Space,
                the very first Romanian CubeSat contest for highschool students.
              </p>
            </li>

            <li class="timeline-item">
              <h4 class="h4 timeline-item-title">SCSS 2024 - Didactical education</h4>
              <p class="timeline-text">
                SCSS - took the 2<sup>nd</sup> place in the Scientific Student Competition on 
                the <b>didactical career education</b> section with the topic 'Impact of academic 
                performance in professional success'.
              </p>
            </li>
          </ol>
        </section>
      </article>