<aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="./assets/images/pictures_with_me/eu_2space.png" alt="Andrei Nicola" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Andrei Nicola">Andrei Nicola</h1>

          <p class="title">BCE stud</p>
          <p class="title">Intern @ Keysight</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>
            <!-- STANGA SUS -->
            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:nicola.andrei.g@gmail.com" class="contact-link">nicola.andrei.g@gmail.com</a>
            </div>

          </li>
          <!-- DREAPTA SUS -->
          <li class="contact-item">

            <div class="icon-box">
              <img src="/assets/images/github-original-yellow3.svg" alt="GitHub">
            </div>

            <div class="contact-info">
              <p class="contact-title">GitHub</p>

              <a href="https://github.com/Nico7777777" class="contact-link">Nico7777777</a>
            </div>

          </li>
          <!-- STANGA JOS -->
          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="calendar-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Birthday</p>

              <time datetime="1982-06-23">May 7, 2004</time>
            </div>

          </li>
          <!-- DREAPTA JOS -->
          <li class="contact-item">
            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>
            <div class="contact-info">
              <p class="contact-title">Location</p>
              <address>Bucharest, Romania</address>
            </div>
          </li>

          <li class="contact-item">
            <div class="icon-box">
              <a href="https://www.linkedin.com/in/andrei-nicola-6a71801a3/" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </div>
            <div class="contact-info">
              <p class="contact-title">LinkedIn</p>
              <a href="https://www.linkedin.com/in/andrei-nicola-6a71801a3/" class="contact-link">Nicola Andrei</a>
            </div>
          </li>
        </ul>



      </div>

    </aside>